# WaveDump configuration file

# The following setting is for TOWARD/w2r.sh. WaveDump does not understand it.
# Please leave the line commented out, but do change the digitizer name to
# yours. Options: 720, 721, 724, 725, 730, 731, 740, 742, 751 761
#
# Digitizer: 751

# Lines between commands @OFF and @ON will be skipped.
# This can be used to exclude parts of the file.

# Settings common to all channels
[COMMON]

# OPEN: connect to the digitizer. Options:
# USB 0 0    Desktop/NIM digitizer through USB              
# USB 0 BA   VME digitizer through USB-V1718
# PCI 0 0 0  Desktop/NIM/VME through CONET (optical link) 
# PCI 0 0 BA VME digitizer through V2718
#        (BA = BaseAddress of the VME board, 32 bit hex)
#
#OPEN USB 0 0
#OPEN USB 0 32100000
OPEN PCI 0 0 0
#OPEN PCI 0 0 32100000

# RECORD_LENGTH = number of samples in the acquisition window
RECORD_LENGTH 2000

# DECIMATION_FACTOR: (ONLY for 740 & 724) change the decimation factor for the
# acquisition. Options: 1 2 4 8 16 32 64 128  
#DECIMATION_FACTOR  1

# POST_TRIGGER: post trigger size in percent of the whole acquisition window
# options: 0 to 100
# On models 742 there is a delay of about 35nsec on signal Fast Trigger TR; the
# post trigger is added to this delay  
POST_TRIGGER 50

#PULSE_POLARITY: input signal polarity. Options: POSITIVE, NEGATIVE
PULSE_POLARITY POSITIVE

# EXTERNAL_TRIGGER: external trigger input settings. When enabled, the ext.
# trg. can be either propagated (ACQUISITION_AND_TRGOUT) or not
# (ACQUISITION_ONLY) through the TRGOUT
# options: DISABLED, ACQUISITION_ONLY, ACQUISITION_AND_TRGOUT
EXTERNAL_TRIGGER DISABLED	

# FPIO_LEVEL: type of the front panel I/O LEMO connectors. Options: NIM, TTL
FPIO_LEVEL TTL

# OUTPUT_FILE_FORMAT: output file can be either ASCII (column of decimal
# numbers) or binary (2 bytes per sample, except for Mod 721 and Mod 731 that
# is 1 byte per sample)
# options: BINARY, ASCII
OUTPUT_FILE_FORMAT BINARY

# OUTPUT_FILE_HEADER: if enabled, the header is included in the output file
# options: YES, NO
OUTPUT_FILE_HEADER YES

# TEST_PATTERN: if enabled, data from ADC are replaced by test pattern
# (triangular wave). Options: YES, NO
TEST_PATTERN NO

# WRITE_REGISTER: generic write register access. This command allows the user
# to have a direct write access to the registers of the board. NOTE: all the
# direct write accesses are executed AFTER the other settings, thus it might
# happen that the direct write overwrites a specific setting.  To avoid this
# use the right "MASK".  Syntax: WRITE_REGISTER ADDRESS DATA MASK, where
# ADDRESS is the address offset of the register (16 bit hex), DATA is the value
# being written (32 bit hex) and MASK is the bitmask to be used for DATA
# masking.
# Example: Set only bit [8] of register 1080 to 1,
# leaving the other bits to their previous value:
# WRITE_REGISTER 1080 0100 0100
# Example: Set only bit [8] of register 1080 to 0,
# leaving the other bits to their previous value:
# WRITE_REGISTER 1080 0000 0100
# Example: Set register 1080 to the value of 0x45:
# WRITE_REGISTER 1080 45 FFFFFFFF

# ----------------------------------------------------------------
# Individual Settings 
# ----------------------------------------------------------------
# The following setting are usually applied on channel by channel
# basis; however, you can put them also here in the [COMMON] section
# in order to apply them to all the channels.
# ----------------------------------------------------------------

# ENABLE_INPUT: enable/disable one channel. Options: YES, NO
ENABLE_INPUT NO

# BASELINE_LEVEL: baseline position in percent of the Full Scale. 
# POSITIVE PULSE POLARITY (Full Scale = from 0 to + Vpp)
# 0: analog input dynamic range = from 0 to +Vpp 
# 50: analog input dynamic range = from +Vpp/2 to +Vpp 
# 100: analog input dynamic range = null (usually not used)
# NEGATIVE PULSE POLARITY (Full Scale = from -Vpp to 0) 
# 0: analog input dynamic range = from -Vpp to 0 
# 50: analog input dynamic range = from -Vpp/2 to 0 
# 100: analog input dynamic range = null (usually not used)
#
BASELINE_LEVEL 10

# TRIGGER_THRESHOLD: threshold for the channel auto trigger (ADC counts)
# options 0 to 2^N-1 (N=Number of bit of the ADC)
#  POSITIVE PULSE POLARITY: threshold = baseline + TRIGGER_THRESHOLD
#  NEGATIVE PULSE POLARITY: threshold = baseline - TRIGGER_THRESHOLD
#
TRIGGER_THRESHOLD 25

# CHANNEL_TRIGGER: channel auto trigger settings. When enabled, the ch. auto
# trg. can be either propagated (ACQUISITION_AND_TRGOUT) or not
# (ACQUISITION_ONLY) through the TRGOUT
# Options: DISABLED, ACQUISITION_ONLY, ACQUISITION_AND_TRGOUT, TRGOUT_ONLY
# NOTE: since in x730 boards even and odd channels are paired, their
# 'CHANNEL_TRIGGER' value will be equal to the OR combination of the pair,
# unless one of the two channels of the pair is set to 'DISABLED'. If so, the
# other one behaves as usual.
CHANNEL_TRIGGER ACQUISITION_ONLY

# enable channel [0]
[0]
ENABLE_INPUT      YES

[1]

[2]

[3]

